@{
    ViewData["Title"] = "Accueil - EMG Voitures";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Ajout de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-4">Bienvenue chez EMG Voitures</h1>
        <p class="lead">Achetez, réparez et revendez des voitures en toute simplicité.</p>
        <hr class="my-4">

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/view-inventory.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">
                            Inventaire
                        </h5>
                        <p class="card-text">Consultez toutes les voitures disponibles dans notre inventaire.</p>
                        <a href="@Url.Action("Index", "Car")" class="btn btn-primary">Accéder</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/add-car.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter une voiture</h5>
                        <p class="card-text">Ajoutez une nouvelle voiture à notre inventaire.</p>
                        <a href="@Url.Action("AddOrEdit", "Car", new { id = 0 })" class="btn btn-success">Ajouter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/images/manage-listings.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gérer les annonces</h5>
                        <p class="card-text">Modifiez ou supprimez les annonces de voitures.</p>
                        <a href="@Url.Action("Index", "Car")" class="btn btn-success">Gérer</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!-- Scripts JavaScript -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
