@{
    ViewData["Title"] = "Accueil - EMG Voitures";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenue chez EMG Voitures</h1>
    <p class="lead">Achetez, réparez et revendez des voitures en toute simplicité.</p>
    <hr class="my-4">

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <img src="/images/view-inventory.jpg" class="card-img-top" alt="Inventaire">
                <div class="card-body">
                    <h5 class="card-title">Voir l'inventaire</h5>
                    <p class="card-text">Consultez toutes les voitures disponibles dans notre inventaire.</p>
                    <a href="/Cars" class="btn btn-primary">Accéder</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/add-car.jpg" class="card-img-top" alt="Ajouter une voiture">
                <div class="card-body">
                    <h5 class="card-title">Ajouter une voiture</h5>
                    <p class="card-text">Ajoutez une nouvelle voiture à notre inventaire.</p>
                    <a href="/Cars/Create" class="btn btn-success">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/images/manage-listings.jpg" class="card-img-top" alt="Gérer les annonces">
                <div class="card-body">
                    <h5 class="card-title">Gérer les annonces</h5>
                    <p class="card-text">Modifiez ou supprimez les annonces de voitures.</p>
                    <a href="/Cars/Manage" class="btn btn-warning">Gérer</a>
                </div>
            </div>
        </div>
    </div>
</div>
